<style>
footer,header,nav {
    display: block
}

body {
    line-height: 1.61;
}

ol,ul {
    list-style: none
}

q {
    quotes: none
}

input,textarea,select {
    font-size: 16px
}

blockquote:before,blockquote:after,q:before,q:after {
    content: none
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

body {
    background: #fafafa;
    color: rgba(0,0,0,.87);
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    min-height: 101vh
}


input {
    border: 1px solid #0000001f
}

select {
    color: #666;
    border-radius: 3px;
    border: 1px solid #0000001f;
    margin: 5px 0
}

button {
    padding: 5px;
    white-space: nowrap
}

a {
    color: #039;
    text-decoration: none
}

a:hover {
    color: #f8752b
}

.header-logo {
    position: relative;
    height: 69px;
    padding: 5px 0
}

.searchBox .btnHeaderFind {
    position: absolute;
    top: 1px;
    right: 0;
    height: 2rem;
    text-align: center;
    background: url('https://vndoc.com/Themes/Default/images/search-24px.svg') no-repeat center;
    color: rgba(0,0,0,.87);
    width: 35px;
    cursor: pointer;
    display: inline-block;
    border: none;
}


.searchBox {
    position: absolute;
    top: 22.5px;
    left: 285px
}


.theme.pro .box-noads {
    display: none
}

.searchBox form {
    text-align: center
}

.searchBox #q {
    display: inline-block;
    padding: 7px 0;
    width: 428px;
    height: 34px;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 8px;
    padding-right: 64px
}

.searchbox .navbar-list {
    border: 1px solid #0000001f;
    border-radius: 3px
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box
}

.hover>a>span {
    color: #f8752b
}

.title-header {
    font-weight: bold;
    font-size: 16px;
    position: relative;
    padding: 8px 0;
    line-height: 24px;
    padding-left: 16px;
    color: rgba(0,0,0,.87);
    display: block;
    border-bottom: solid 1px #0000001f
}

.title-header h2 {
    display: inline-block
}


.title-header span {
    display: inline-block;
    line-height: 24px
}

.theme .mainNav {
    border-bottom: solid 2px #ff9800
}

.mainNav {
    background: #fff;
    z-index: 58;
    max-width: 1080px;
    margin: 0 auto;
    position: relative
}

.navbar {
    border-top: solid 1px #0000001f
}

.item.all {
    position: relative;
    float: left;
    width: 105px
}

.item.all>a {
    font-weight: bold
}

.item.all a {
    display: block;
    height: 35px;
    padding: 0 0 0 8px;
    color: rgba(0,0,0,.87)
}

.navbar>li>a {
    color: rgba(0,0,0,.87);
    border-right: 1px solid #fff;
    line-height: 35px;
    text-align: left;
    display: block;
    white-space: nowrap;
    padding-right: 16px;
    text-overflow: ellipsis;
    overflow: hidden
}

.navbar .item.all>a>img {
    vertical-align: text-bottom;
    height: 24px;
    width: 24px;
    margin-top: 5px;
    margin-right: 8px
}

.item.all>a>span {
    position: absolute
}

.item.all:hover .navigation {
    display: block
}

theme.index .box-tabs {
    top: 53px;
    border-radius: 3px 0 0 4px
}

.index .box-tabs {
    background: inherit
}

.box-tabs {
    position: absolute;
    z-index: 9999
}

.navigation {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    height: 420px;
    display: block;
    width: 251px;
    border-top: solid 1px #0000001f;
    border-radius: 0 0 0 4px
}

.navigation li {
    text-indent: 0;
    height: 35px;
    margin: 0;
    padding: 0
}

.item.all a {
    display: block;
    height: 35px;
    padding: 0 0 0 8px;
    color: rgba(0,0,0,.87)
}

.navigation li a {
    color: rgba(0,0,0,.87);
    line-height: 33px;
    text-align: left;
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0 16px 0 8px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

.navigation .item a img {
    vertical-align: top;
    height: 24px;
    width: 24px;
    margin-right: 4px;
    -moz-filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1)
}

.navigation .item a img {
    -moz-filter: none;
    -webkit-filter: none;
    margin-top: 6px;
    filter: none
}

.navigation>li>ul {
    top: 0;
    border-top: solid 1px #0000001f;
    overflow-y: auto;
    overflow-x: hidden;
    width: 828px;
    height: 419px;
    background-color: #fff;
    display: none;
    position: absolute;
    left: 251px;
    border-left: none;
    z-index: 1000;
    border-radius: 0 0 4px 0;
    right: auto;
    column-width: 244px;
    column-gap: 0;
    column-fill: auto;
    column-fill: balance
}

.navigation .item ul li {
    text-indent: 0;
    height: 32px;
    margin: 0;
    padding: 0;
    background: #fff
}

.navigation .item ul a {
    text-align: left;
    padding: 0 8px
}

.navigation .item a span {
    vertical-align: sub
}

.navigation ul li span {
    position: static !important;
    vertical-align: sub
}

.navbar .item.right {
    height: 35px;
    overflow: hidden;
    float: none !important
}

.navbar .item.right li {
    display: inline-block;
    float: left
}

.navbar .item.right .subchild li {
    display: block
}

.navbar .item.right .subchild {
    display: block;
    position: absolute;
    padding: 16px 0 16px 16px;
    right: 0;
    left: 0;
    border: 1px solid #0000001f;
    border-right: 0;
    border-left: 0;
    background: #fff;
    min-height: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,.12);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    display: flex;
    transition: .1s .3s;
    flex-wrap: wrap;
    flex-direction: row
}

.navbar .item.right .subchild::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 8px
}

.navbar .item.right .subchild::-webkit-scrollbar {
    height: 10px
}

.navbar .item.right .subchild::-webkit-scrollbar-track-piece {
    background: #f4f4f4;
    border: .5px solid #eee;
    border-radius: 8px
}

.navbar .item.right .subchild ul {
    margin-bottom: 8px
}

.navbar .item.right .subchild .sub-more {
    position: absolute;
    bottom: 16px;
    left: 1px;
    right: 16px;
    font-size: 14px;
    list-style: none;
    cursor: pointer;
    text-align: right;
    color: rgba(0,0,0,.54);
    margin: 0 auto
}

.navbar .item.right .subchild .itemsub>a {
    font-weight: bold
}

.navbar .item.right .subchild .sub-more:hover {
    color: #f8752b
}

.navbar .item.right .subchild.full {
    height: initial
}

.navbar .item.right .subchild.line {
    width: 250px
}

.navbar .item.right .subchild li a {
    padding: 0;
    line-height: 28px;
    font-size: 14px
}

.navbar .item.right .subchild li {
    break-inside: avoid;
    width: 260px;
    float: none;
    min-width: 103px;
    font-weight: normal;
    background: none
}

.navbar .item.right li.hover .subchild {
    transition: .1s .3s;
    visibility: visible;
    opacity: 1
}

.navbar .item.right li.item:after {
    content: "";
    border-bottom: 2px solid #ff9800;
    position: absolute;
    width: 77px;
    visibility: hidden;
    height: 2px;
    display: block;
    bottom: 0
}

.navbar .item.right li.item.hover:after {
    visibility: visible;
    transition: .1s .3s
}

.navbar .item.right li a {
    color: rgba(0,0,0,.87);
    line-height: 35px;
    text-align: left;
    display: block;
    white-space: nowrap;
    padding: 0 18px;
    text-overflow: ellipsis;
    overflow: hidden
}

.navbar .item.right li a img {
    vertical-align: text-bottom;
    height: 18px;
    width: 18px;
    margin-right: 8px
}

.navbar .item.right li a span {
    text-transform: capitalize
}

.navbar .item.right .subchild li a span {
    text-transform: initial
}

.navbar .item.right .subchild li span.hot {
    position: relative
}


.navigation .hover ul {
    display: block;
    border-left: 1px solid #0000001f
}

.navbar .item.right .subchild a:hover {
    color: #f8752b
}

.navigation .item ul a:hover {
    color: #f8752b
}

.navigation:hover::-webkit-scrollbar-thumb {
    background: #c1c1c1
}

.navigation::-webkit-scrollbar {
    width: 5px
}

.navigation {
    display: none;
    background: #fff
}

.navigation::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: none
}


.listview {
    margin-left: 16px;
    margin-top: 16px
}

.listview li {
    display: inline-block;
    clear: both;
    width: 100%;
    padding: 0 8px 16px 0;
    position: relative
}

.listview>li>a {
    display: block;
    position: relative;
    overflow: hidden;
    height: 79px;
    color: rgba(0,0,0,.87)
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: #666;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: 0;
    position: relative
}

.number-input button:before,.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 8px;
    font-family: 'Josefin Sans',sans-serif;
    color: #666;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%,-50%)
}

.listclass {
    display: flex;
    padding: 0 0 0 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch
}

.listclass>li {
    padding-bottom: 16px;
    text-align: center;
    width: calc(33.33333% - 10px);
    flex: 0 0 auto
}

.jumb-class {
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 0;
    position: relative;
    text-align: left
}

.listclass .cs-header {
    cursor: pointer;
    display: block;
    padding-top: 4px;
    position: relative
}

.listclass .cs-header span {
    display: inline-block
}

.cs-name {
    font-size: 28px;
    height: 38px;
    line-height: 38px;
    margin-left: 32px;
    right: 60px;
    vertical-align: bottom;
    left: 60px;
    margin: 0 auto;
    text-align: center
}

.listclass .cs-box {
    padding: 6px 16px 16px 16px
}

.listclass .cs-info {
    border-bottom: 1px solid #0000001f;
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
    padding-bottom: 8px;
    max-height: 44px
}

.listclass .index-0 .sub-class {
    column-width: 200px;
    min-height: 130px
}

.cs-title {
    font-size: 20px;
    line-height: 32px;
    display: block;
    text-align: left;
    text-transform: capitalize;
    padding: 0 8px 4px 0
}

.cs-number {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 43px;
    left: -4px;
    position: relative;
    color: #fff;
    border-radius: 0 19px 19px 0;
    background: #f44336;
    line-height: 38px;
    height: 38px
}

.listclass .sub-class {
    right: auto;
    column-width: 200px;
    column-gap: 8px;
    column-fill: auto;
    column-fill: balance;
    top: 0;
    margin-bottom: 8px;
    position: relative
}

.listclass .sub-class .more-class {
    position: absolute;
    bottom: -16px;
    right: 0;
    margin-bottom: 0
}

.listclass .sub-class .more-class a {
    color: rgba(0,0,0,.54)
}

.listclass .sub-class .more-class a:hover {
    color: #f8752b
}

.sub-class li {
    margin-bottom: 4px
}

.sub-class li a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    color: initial
}

.sub-class li a:hover {
    color: #f8752b
}

.listclass .cs-header:hover {
    opacity: .9
}

.index-1 {
    border-color: #f44336
}

.index-1 .cs-name {
    color: #f44336
}

.index-2 {
    border-color: #e91e63
}

.index-2 .cs-name {
    color: #e91e63
}

.listclass .index-2 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-2 .cs-number::after {
    border-bottom: 19px solid #e91e63;
    border-top: 19px solid #e91e63;
    border-right: 12px solid transparent
}

.index-2 .cs-number {
    background: #e91e63
}

.index-3 {
    border-color: #9c27b0
}

.index-3 .cs-name {
    color: #9c27b0
}

.listclass .index-3 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-3 .cs-number::after {
    border-bottom: 19px solid #9c27b0;
    border-top: 19px solid #9c27b0;
    border-right: 12px solid transparent
}

.index-3 .cs-number {
    background: #9c27b0
}

.index-4 {
    border-color: #673ab7
}

.index-4 .cs-name {
    color: #673ab7
}

.listclass .index-4 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-4 .cs-number::after {
    border-bottom: 19px solid #673ab7;
    border-top: 19px solid #673ab7;
    border-right: 12px solid transparent
}

.index-4 .cs-number {
    background: #673ab7
}

.index-5 {
    border-color: #2196f3
}

.index-5 .cs-name {
    color: #2196f3
}

.listclass .index-5 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-5 .cs-number::after {
    border-bottom: 19px solid #2196f3;
    border-top: 19px solid #2196f3;
    border-right: 12px solid transparent
}

.index-5 .cs-number {
    background: #2196f3
}

.index-6 {
    border-color: #4caf50
}

.index-6 .cs-name {
    color: #4caf50
}

.listclass .index-6 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-6 .cs-number::after {
    border-bottom: 19px solid #4caf50;
    border-top: 19px solid #4caf50;
    border-right: 12px solid transparent
}

.index-6 .cs-number {
    background: #4caf50
}

.index-7 {
    border-color: #26a9e1
}

.index-7 .cs-name {
    color: #26a9e1
}

.listclass .index-7 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-7 .cs-number::after {
    border-bottom: 19px solid #26a9e1;
    border-top: 19px solid #26a9e1;
    border-right: 12px solid transparent
}

.index-7 .cs-number {
    background: #26a9e1
}

.index-8 {
    border-color: #fb911f
}

.index-8 .cs-name {
    color: #fb911f
}

.listclass .index-8 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-8 .cs-number::after {
    border-bottom: 19px solid #fb911f;
    border-top: 19px solid #fb911f;
    border-right: 12px solid transparent
}

.index-8 .cs-number {
    background: #fb911f
}

.index-9 {
    border-color: #484c99
}

.index-9 .cs-name {
    color: #484c99
}

.listclass .index-9 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-9 .cs-number::after {
    border-bottom: 19px solid #484c99;
    border-top: 19px solid #484c99;
    border-right: 12px solid transparent
}

.index-9 .cs-number {
    background: #484c99
}

.index-10 {
    border-color: #444db4
}

.index-10 .cs-name {
    color: #444db4
}

.listclass .index-10 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-10 .cs-number::after {
    border-bottom: 19px solid #444db4;
    border-top: 19px solid #444db4;
    border-right: 12px solid transparent
}

.index-10 .cs-number {
    background: #444db4
}

.index-11 {
    border-color: #18adfc
}

.index-11 .cs-name {
    color: #18adfc
}

.listclass .index-11 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-11 .cs-number::after {
    border-bottom: 19px solid #18adfc;
    border-top: 19px solid #18adfc;
    border-right: 12px solid transparent
}

.index-11 .cs-number {
    background: #18adfc
}

.index-12 {
    border-color: #f6493f
}

.index-12 .cs-name {
    color: #f6493f
}

.listclass .index-12 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-12 .cs-number::after {
    border-bottom: 19px solid #f6493f;
    border-top: 19px solid #f6493f;
    border-right: 12px solid transparent
}

.index-12 .cs-number {
    background: #f6493f
}

.index-0 {
    border-color: #8bc43f
}

.index-0 .cs-name {
    color: #8bc43f
}

.listclass .index-0 .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-0 .cs-number::after {
    border-bottom: 19px solid #8bc43f;
    border-top: 19px solid #8bc43f;
    border-right: 12px solid transparent
}

.index-0 .cs-number {
    background: #8bc43f
}

.index-V {
    border-color: #ff9800
}

.index-V .cs-name {
    color: #ff9800
}

.listclass .index-V .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-V .cs-number::after {
    border-bottom: 19px solid #ff9800;
    border-top: 19px solid #ff9800;
    border-right: 12px solid transparent
}

.index-V .cs-number {
    background: #ff9800
}

.index-T {
    border-color: #00a392
}

.index-T .cs-name {
    color: #00a392
}

.listclass .index-T .cs-info {
    border-bottom: 1px solid #0000001f
}

.index-T .cs-number::after {
    border-bottom: 19px solid #00a392;
    border-top: 19px solid #00a392;
    border-right: 12px solid transparent
}

.index-T .cs-number {
    background: #00a392
}

.listbox {
    padding: 16px 8px 0 8px;
    display: flex;
    flex-wrap: wrap
}

.listbox>li {
    display: inline-block;
    width: 16.66%;
    position: relative;
    height: 238px;
    float: left;
    overflow: hidden;
    background: #fff
}

.listbox>li a {
    display: block;
    margin: 0 8px 0 8px;
    color: rgba(0,0,0,.87)
}

.listbox .thumb-images {
    height: 120px;
    display: block;
    border-radius: 3px;
    text-align: center;
    overflow: hidden
}

.listbox .thumb-images img {
    width: 100%;
    border-radius: 3px
}

.app-description {
    max-height: 73px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    margin-top: 8px;
    font-style: normal
}



.listbox>li a:hover {
    color: #f8752b;
    z-index: 1;
    opacity: .9
}

.listpaid {
    overflow-y: hidden;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    display: block;
    padding: 0 8px
}

.index .listpaid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 0
}

.index .listpaid .app-description {
    margin-top: 10px
}

.index .listpaid .thumb-images {
    height: 151px
}

.index .box-paid .listpaid>li:hover {
    border: 1px solid #009b41
}

.index .listpaid>li {
    width: 32.33%;
    height: 276px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 16px
}

.index .listpaid>li:hover {
    border: 1px solid #009b41
}

.index .listpaid li a {
    padding: 0 8px
}

.listpaid>li {
    display: inline-block;
    white-space: nowrap;
    width: 293px;
    position: relative;
    height: 274px;
    overflow: hidden;
    background: #fff
}

.listpaid li a {
    display: block;
    margin: 16px 8px;
    color: rgba(0,0,0,.87)
}

.listpaid .thumb-images {
    height: 178px;
    display: block;
    border-radius: 3px;
    text-align: center;
    overflow: hidden
}

.listpaid .app-description {
    height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    font-style: normal;
    white-space: initial;
    word-break: break-word;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical
}

.listpaid .thumb-images img {
    width: 100%;
    border-radius: 3px
}


.listnav {
    padding: 16px;
    right: auto;
    column-width: 280px;
    column-gap: 16px;
    column-fill: auto;
    column-fill: balance;
    top: 0
}

.leftbar .listnav li a {
    padding: 2px 8px 2px 16px;
    border-bottom: 1px solid #eee
}

.listnav li a {
    color: rgba(0,0,0,.87);
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    overflow: hidden;
    line-height: 32px;
    position: relative
}

.listnav li a h3 {
    display: inline-block
}

.listnav.list-level-first>li {
    position: relative;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid
}
.listnav.cs {
    column-width: 250px;
    column-gap: 0;
    list-style: disc;
    column-fill: balance;
}
.box-taxbox {
    box-sizing: content-box;
    border: solid 1px #0000001f;
    border-radius: 3px;
    background: #fff;
}

</style>
